/* Css Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;	padding: 0;	border: 0; font-size: 100%;	font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {	display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0;}

/* Basic Styles */
*, *::after, *::before { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Open Sans", sans-serif; color: #040404; background-color: #ffffff; font-size: 1.6rem; }
a { color: #fcac7b; text-decoration: none; }
section { display: table; overflow: hidden; position: relative; height: 100vh; width: 100%; }

/* Background Colors for SVG */
.colorChange {
  -webkit-animation: colorChange 30s infinite; 
	  -moz-animation:colorChange 30s infinite; 
	      animation: colorChange 30s infinite; 
}
@keyframes colorChange {
  0%   {fill: #CF9BB9;}
  50%  {fill: #5959D8;} 
  100% {fill: #D85959;}
}
@-webkit-keyframes colorChange {
  0%   {fill: #CF9BB9;}
  50%  {fill: #5959D8;}
  100% {fill: #D85959;}
}
footer.colorChange {
  -webkit-animation: footerColorChange 30s infinite; 
	      animation: footerColorChange 30s infinite; 
}
@keyframes footerColorChange {
  0%   {background-color: rgba(119,42,81,0.40);}
  50%  {background-color: rgba(40,40,159,0.40);} 
  100% {background-color: rgba(164,59,59,0.40);}
}
@-webkit-keyframes footerColorChange {
  0%   {background-color: rgba(119,42,81,0.40);}
  50%  {background-color: rgba(40,40,159,0.40);} 
  100% {background-color: rgba(164,59,59,0.40);}
}

/* SVG */
.svgWrapper { position: absolute; z-index: 2; top: 0; left: 0; height: 100%; width: 100%; }
svg { position: absolute; left: 50%; top: 50%; bottom: auto; right: auto; opacity: 0.8;
  -webkit-transform: translateX(-50%) translateY(-50%);
	 -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
svg.svgMask { display: none; }

/* Lighting Bolt */
.lightingWrapper {
  position: absolute; left: 50%; min-width: 315px; z-index: 3;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Video Player */
.videoWrapper { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; background: url(../assets/Major-Tom.jpg) no-repeat center center; background-size: cover; }
.videoWrapper::after { display: none; content: 'mobile';}

/* Responsive Classes */
@media only screen and (min-width: 768px) {
    svg.svgMask { display: block; }
	svg.svgMask-mobile { display: none; }
    .lightingWrapper { top: calc(50% - 25px); }
    .videoWrapper::after { content: 'desktop'; }
}

/* Footer Styles */
footer { position: absolute; bottom: 0; padding: 15px; z-index: 20000; width: 100%; color: #E3E3E3; font-size: 65%; }
.extraCredits { float: right; display: inline-block;}
/* Pace.js Progress Bar */
.pace { -webkit-pointer-events: none; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;}
.pace-inactive { display: none; }
.pace .pace-progress { background: #8000ff; position: fixed; z-index: 2000; top: 0; right: 100%; width: 100%; height: 4px; }